/* Tiles */

	/* last-child = "Your Project" box */
	.tiles article:last-child header {
		margin-right: 0;
	}
	.tiles article:last-child img {
		margin-right: auto;
		height: 50%;
		max-height: 128px;
	}
	.tiles article:last-child:before {
		background-color: transparent;

	}
	@media screen and (min-width: 481px) and (max-width: 736px) {
		.tiles article:last-child img {
			left: -2em;
		}
	}

/* Contact */

		#contact > .inner > :nth-child(2n - 1) {
			padding: 3em 0 1em 0 ;
			border-right: none;
			width: 100%;
		}


		@media screen and (max-width: 980px) {
			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}
		}

		@media screen and (max-width: 736px) {

			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}

		}
