/* Nav */

		/* color of link to current page */
		a.active {
			pointer-events: none;
			color: #53e3fb;
		}

/* Contact */

		#contact > .inner > :nth-child(2n - 1) {
			padding: 3em 0 1em 0 ;
			border-right: none;
			width: 100%;
		}


		@media screen and (max-width: 980px) {
			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}
		}

		@media screen and (max-width: 736px) {

			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}

		}

/* Project */

		.scrolly {
			position: absolute;
			/* Height of button is 3.5em
			   Height of big button is 3em
			   4.25 is also used for intro in main.css */
			top: calc(100vh - 3em - 4.25rem - 0.5em);
			right: 0.5em;
			visibility: visible;
		}

		/*@media screen and (orientation: portrait) {*/
		@media screen and (max-width: 736px) {
			.scrolly {
				/* Hide on portrait screens */
				visibility: hidden;
			}
		}
