{{ define "header"}}

{{ $.Scratch.Set "title" .Title }}
{{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
{{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}

{{ $bigimg := $.Scratch.Get "bigimg" }}

{{ if or $bigimg ($.Scratch.Get "title") }}
  {{ if $bigimg }}
    <div id="header-big-imgs" data-num-img={{len $bigimg}} {{range $i, $img := $bigimg}}data-img-src-{{add $i 1}}="{{$img.src | absURL }}" {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}{{end}}></div>
  {{ end }}

  <header class="header-section {{ if $bigimg }}has-img{{ end }}">
      {{ if $bigimg }}
      <div class="intro-header big-img">
        <span class="img-desc" style="display: inline;"></span>
      {{ else }}
      <div class="intro-header no-img">
      {{ end}}
        {{ $subtitle := $.Scratch.Get "subtitle" }}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="{{ .Type }}-heading">
                <h1>{{ with $.Scratch.Get "title" }}{{.}}{{ else }}<br/>{{ end }}</h1>
                  {{ if $subtitle }}
                    {{ if eq .Type "page" }}
                      <hr class="small">
                      <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
                    {{ else }}
                      <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                    {{ end }}
                  {{ end }}
                  {{ if eq .Type "post" }}
                    {{ partial "post_meta.html" . }}
                  {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
{{ end }}

{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
         <!-- Display table with summarized project details -->
         <table>
           <caption>Project details</caption>
           <tbody>
             <!-- Primary fields -->
             <tr>
               <th scope="row">My contributions</th>
               <td> {{ delimit .Params.contributions ", " }} </td>
             </tr>
             <tr>
               <th scope="row">Tools used</th>
               <td> {{ delimit .Params.tools ", " }} </td>
             </tr>
             <!-- Optional fields -->
             {{ if isset .Params "duration" }}
             <tr>
               <th scope="row">Total duration</th>
               <td> {{ .Params.duration }} </td>
             </tr>
             {{ end }}
             {{ if isset .Params "teamsize" }}
             <tr>
               <th scope="row">Team size</th>
               <td>
                   {{ .Params.teamsize }}
               </td>
             </tr>
             {{ end }}
             {{ if isset .Params "platform" }}
             <tr>
               <th scope="row">Platforms targetted</th>
               <td>
                   {{ delimit .Params.platform ", " }}
               </td>
             </tr>
             {{ end }}
           </tbody>
         </table>
      </div>
      <br>
      <hr>
      <br>
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>


      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
